{% extends "layout.html" %}

{% block body %}
	<div class='container'>
		<h1 class="display-3">Monte Cristo!</h1>
		<p class="lead">Connect with fellow readers..</p>
		<div class='container'>
		</div>
		  <div style="height:50%; width:45%; float:left" class="jumbotron">
		  <form action="{{url_for('login')}}" method="post">
	  	  <fieldset>
	  	    <legend>Login</legend>
			{% if error==3 %}
			<div class="form-group">
				<label class="form-control-label is-invalid" for="InputUsername">Username</label>
				<input type="text" class="form-control is-invalid" name="username" placeholder="Username">
				<div class="invalid-feedback">User not found.</div>
			</div>
			{% else %}
			<div class="form-group">
				<label class="form-control-label" for="InputUsername">Username</label>
				<input type="text" class="form-control" name="username" placeholder="Username">
			</div>
			{% endif %}
			{% if error==4 %}
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control is-invalid" name="password" placeholder="Password">
				<div class="invalid-feedback">Password didn't match.</div>
			</div>
			{% else %}
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" name="password" placeholder="Password">
			</div>
			{% endif %}

	  	    <fieldset>
	  	    <button type="submit" class="btn btn-primary">Login</button>
	  	  </fieldset>
	    	</form>
		</div>

		  <div style="height:50%; width:45%; float:right" class="jumbotron">
			  <form action="{{url_for('signup')}}" method="post">
	  		  <fieldset>
	  		    <legend>Sign Up</legend>
	  			<div class="form-group">
	  		      <label for="exampleTextarea">Name</label>
	  		      <input class="form-control" name="name" rows="1" placeholder="Name"></input>
	  		    </div>

				{% if error==2 %}
				<div class="form-group">
					<label>Username</label>
					<input class="form-control is-invalid" name="username" rows="1" placeholder="Username"></input>
					<div class="invalid-feedback">Username taken.</div>
				</div>
				{% else %}
				<div class="form-group">
					<label for="exampleTextarea">Username</label>
					<input class="form-control" name="username" rows="1" placeholder="Username"></input>
				</div>
				{% endif %}
	  		    <div class="form-group">
	  		      <label for="exampleInputEmail1">Email address</label>
	  		      <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
	  		    </div>
	  		    <div class="form-group">
	  		      <label for="exampleInputPassword1">Password</label>
	  		      <input type="password" class="form-control" name="password1" placeholder="Password">
	  		    </div>

				{% if error==1 %}
				<div class="form-group" >
					<label>Retype Password</label>
					<input type="password" name="password2" class="form-control is-invalid" placeholder="Password">
					<div class="invalid-feedback">Password didn't match.</div>
				</div>
				{% else %}
	  		    <div class="form-group">
	  		      <label>Retype Password</label>
	  		      <input type="password" class="form-control" name="password2" placeholder="Password">
	  		    </div>
				{% endif %}

				<button type="submit" class="btn btn-primary">Sign Up</button>
	  		  </fieldset>
			  </form>
	  		  </div>

		</div>
	</div>

{% endblock %}
