<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.css">
		<link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
		<style>
		body{
			margin-bottom: 0px;
			margin:0px;
			padding-top: 0;
		}
		.navside{
			margin-left: 9%;
			margin-right: 9%;
		}

		</style>
		<title>
			Monte Cristo
		</title>

	</head>
	<body>
		<nav class="navside navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="{{url_for('index')}} ">
			<img src="https://image.flaticon.com/icons/png/512/59/59763.png" height="38" width="38">
		  </a>

		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="{{url_for('books')}}">
					Books</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{url_for('about')}}">About</a>
		      </li>
		    </ul>
			<form class="form-inline my-2 my-lg-0" action="{{ url_for('search') }}" method="post" >
		        <input type="text" name="note" placeholder="Search" class="form-control mr-sm-2">
		        <button class="btn btn-secondary my-2 my-sm-0">Search</button>
		    </form>
			{% if session['username'] %}
			<a class="nav-link nav-item btn btn-outline-primary" href="{{url_for('logout')}}">Logout</a>
			{% else %}
			<a class="nav-link nav-item btn btn-outline-primary" href="{{url_for('login')}}">Login</a>
			{% endif %}
		</nav>
        {% block body %}

        {% endblock %}
		<script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
	    <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
	    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	    <script src="https://bootswatch.com/_assets/js/custom.js"></script>
	</body>
</html>
